<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    id="IconHambur"
    aria-label="Example icon-button with menu icon"
    (click)="barraLateral.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema de Estudiantes</span>

  <a routerLink="/inicio" class="menu-arriba">
    <mat-icon>home</mat-icon>
    Inicio</a
  >
  <a routerLink="/nosotros" class="menu-arriba">
    <mat-icon>groups</mat-icon>
    Nosotros</a
  >
  <a routerLink="/noticias" class="menu-arriba">
    <mat-icon>feed</mat-icon>
    Noticias</a
  >
  <a routerLink="/registro" class="menu-arriba">
    <mat-icon>feed</mat-icon>
    Registro</a
  >
  <a routerLink="/editar" class="menu-arriba">
    <mat-icon>feed</mat-icon>
    Editar</a
  >
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #barraLateral
    id="barra-lateral"
    [fixedInViewport]="true"
    [fixedTopGap]="60"
    mode="over"
  >
    <div class="div-opcion-side">
      <a routerLink="/inicio" class="menu-side" (click)="barraLateral.toggle()">
        <mat-icon>home</mat-icon>
        Inicio</a
      >
    </div>
    <div class="div-opcion-side">
      <a
        routerLink="/nosotros"
        class="menu-side"
        (click)="barraLateral.toggle()"
      >
        <mat-icon>groups</mat-icon>
        Nosotros</a
      >
    </div>
    <div class="div-opcion-side">
      <a
        routerLink="/noticias"
        class="menu-side"
        (click)="barraLateral.toggle()"
      >
        <mat-icon>feed</mat-icon>
        Noticias</a
      >
    </div>
    <div>
      <a
        routerLink="/registro"
        class="menu-side"
        (click)="barraLateral.toggle()"
      >
        <mat-icon>feed</mat-icon>
        Registro</a
      >
    </div>
    <div>
      <a routerLink="/editar" class="menu-side" (click)="barraLateral.toggle()">
        <mat-icon>feed</mat-icon>
        Editar</a
      >
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <h1>Bienvenido al Sistema de Estudiantes</h1>
    <button (click)="guardarDatos()">Crear estudiante Rene</button>
    <button (click)="cumpleRene()">Cumpleaños de Rene</button>
    <button (click)="eliminarRene()">Eliminar al estudiante Rene</button> -->
    <router-outlet></router-outlet>

    <footer>Hecho por Mauricio Gonzales - Univalle 2024</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
